# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.DS_Store
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

rbfx.wasm.apps.server/web/assets/**
rbfx.wasm.apps.server/web/common.data
rbfx.wasm.apps.server/web/common.js
rbfx.wasm.apps.server/web/common.wasm
rbfx.wasm.apps.server/web/common.worker.js
rbfx.wasm.apps.server/web/data.js
rbfx.wasm.apps.server/web/index.html
rbfx.wasm.apps.server/web/common/**
rbfx.wasm.apps.server/data/**
rbfx.wasm.apps.server/Upload/**
rbfx.wasm.apps.server/tmp/**