body {
  background-image: url("../img/background.jpg");
  /* background-color: aliceblue; */
}
@font-face {
  font-family: ExampleFont;
  src: url("../font/ARIALN.TTF") format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

#app {
  backdrop-filter: blur(14px);
  opacity: 80%;
}

.main_container {
  width: 100%;
  padding: 0px;
  font-size: 12px;
  /*  */
  /* height: 100vh;
  margin: 0px; */
  /*  */
  height: calc(100vh - 40px);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main_container_toolbar {
  padding-left: 4px;
  height: 24px;
  position: fixed;
  top: 20px;
  background-color: #1b1a1e;
  width: 100%;
  line-height: 24px;
}
.main_container_status {
  height: 24px;
  position: fixed;
  bottom: 20px;
  background-color:#1b1a1e;
  width: 100%;
  line-height: 24px;
  padding-left: 4px;
}
.main_container_status > span {
  font-size: 12px;
  background-color: #1b1a1e;
  text-align: center;
}
.main_container_content {
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgb(0, 0, 0);
}
