:root {
    --fm_btn_hover: #cf1415;
    --fm_btn_active: #e90b0b;
    --fm_toolbar: #1b1a1e;
    --tp-base-border-radius: 0px;
    --tp-base-background-color: var(--fm_toolbar);
    --bs-bg: var(--tp-base-background-color);
}
/*  */
@font-face {
    font-family: ExampleFont;
    src: url("../font/ARIALN.TTF") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
.code_contain_have_left {
    width: 800px;
    height: 100vh;
    position: fixed;
    left: 255px;
    top: 0px;
    opacity: 95%;
    border-right: 2px solid #1a191c;
    background-color: var(--fm_toolbar);
}
.code_contain_no_left {
    width: 800px;
    height: 100vh;
    position: fixed;
    left: 56px;
    top: 0px;
    border-right: 2px solid #1a191c;
    opacity: 95%;
    background-color: var(--fm_toolbar);
}
.code_contain_have_left:hover {
    border-right: 2px solid var(--fm_btn_hover);
}
.code_contain_no_left :hover {
    border-right: 2px solid var(--fm_btn_hover);
}
.code_contain_have_left:active {
    border-right: 2px solid var(--fm_btn_active);
}
.code_contain_no_left :active {
    border-right: 2px solid var(--fm_btn_active);
}

.code_contain_have_left_min {
    position: fixed;
    left: 255px;
    top: 0px;
    opacity: 95%;
    background-color: var(--fm_toolbar);
}
.code_contain_no_left_min {
    position: fixed;
    left: 56px;
    top: 0px;
    opacity: 95%;
    background-color: var(--fm_toolbar);
}

.code_contain_frame {
    width: calc(100% - 2px);
    height: calc(100% - 48px);
    background-color: #1c1c1c;
}
.v-application {
    background: url("../img/background.jpg");
}
.blur_div {
    backdrop-filter: blur(14px);
    opacity: 80%;
}
.main_container {
    width: 100%;
    padding: 0px;
    font-size: 12px;
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main_container_toolbar {
    padding-left: 1px;
    height: 24px;
    position: fixed;
    top: 20px;
    background-color: var(--fm_toolbar);
    width: 100%;
    line-height: 24px;
    display: flex;
    opacity: 95%;
}
.main_container_status {
    height: 24px;
    position: fixed;
    bottom: 20px;
    background-color: var(--fm_toolbar);
    width: 100%;
    line-height: 24px;
    padding-left: 4px;
    opacity: 95%;
}
.main_container_status > span {
    font-size: 12px;
    background-color: var(--fm_toolbar);
    text-align: center;
}

.main_container_toolbar_no_top_padding {
    padding-left: 1px;
    height: 24px;
    background-color: var(--fm_toolbar);
    width: calc(100% - 2px);
    line-height: 24px;
    display: flex;
}
.main_container_status_no_bottom_padding {
    height: 24px;
    background-color: var(--fm_toolbar);
    width: calc(100% - 2px);
    line-height: 24px;
    padding-left: 4px;
    margin-top: -7px;
}
.main_container_status_no_bottom_padding > span {
    font-size: 12px;
    background-color: var(--fm_toolbar);
    text-align: center;
}
.main_container_content {
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: rgb(0, 0, 0);
    opacity: 95%;
}
.main_container_content_max {
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 95%;
}
.toolbar_btn_wide {
    margin: 0px;
    padding: 0px;
    width: 62px;
    height: 24px;
}
.toolbar_btn_wide:hover {
    background-color: var(--fm_btn_hover);
}
.toolbar_btn_wide:active {
    background-color: var(--fm_btn_active);
}
.toolbar_btn_wide i {
    font-size: 16px;
}

.toolbar_btn {
    margin: 0px;
    padding: 0px;
    width: 32px;
    height: 24px;
}
.toolbar_btn:hover {
    background-color: var(--fm_btn_hover);
}
.toolbar_btn:active {
    background-color: var(--fm_btn_active);
}
.toolbar_btn i {
    font-size: 16px;
}
.toolbar_btn_tooltip {
    border-radius: 0px !important;
    height: 24px;
    opacity: 95% !important;
    background-color: #2196f3 !important;
    transform: translate(-10px, -12px);
    font-size: 12px !important;
    line-height: 24px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px;
    color: aliceblue !important;
}
.divider_vertical {
    height: 24px;
}
.show_div {
    display: block;
}
.hide_div {
    display: none;
}
.toolbar_btn_label {
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    height: 24px;
    width: 32px;
    /* background-color: #dd2c00; */
    cursor: pointer;
}
.toolbar_btn_label:hover {
    background-color: var(--fm_btn_hover);
}
.toolbar_btn_label:active {
    background-color: var(--fm_btn_active);
}
.toolbar_btn_label i {
    font-size: 16px;
}
.busy_contain_no_left {
    width: calc(100% - 56px);
    height: 100vh;
    position: fixed;
    left: 56px;
    top: 0px;
    background-color: var(--fm_toolbar);
    z-index: 2000;
    text-align: center;
}
.busy_contain_have_left {
    width: calc(100% - 255px);
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 255px;
    background-color: var(--fm_toolbar);
    z-index: 2000;
    text-align: center;
}
.tp-dfwv {
    position: absolute;
    top: 0px !important;
    right: 0px !important;
    width: 256px !important;
    backdrop-filter: blur(14px);
    opacity: 90%;
    z-index: 2000;
}
.tp-rotv {
    background-color: var(--fm_toolbar);
}