:root {
    --fm_btn_hover: #cf1415;
    --fm_btn_active: #e90b0b;
}
/*  */
@font-face {
    font-family: ExampleFont;
    src: url("../font/ARIALN.TTF") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
.code_contain_have_left {
    width: 800px;
    height: calc(100vh - 88px);
    position: fixed;
    left: 255px;
    top: 44px;
    background-color: #1a191c;
    opacity: 90%;
}
.code_contain_no_left {
    width: 800px;
    height: calc(100vh - 88px);
    position: fixed;
    left: 56px;
    top: 44px;
    background-color: #1a191c;
    opacity: 90%;
}
.code_contain_have_left:hover {
    background-color: var(--fm_btn_hover);
}
.code_contain_no_left :hover {
    background-color: var(--fm_btn_hover);
}
.code_contain_have_left:active {
    background-color: var(--fm_btn_active);
}
.code_contain_no_left :active {
    background-color: var(--fm_btn_active);
}

.code_contain_frame {
    width: calc(100% - 2px);
    height: 100%;
    background-color: #1c1c1c;
}
.v-application {
    background: url("../img/background.jpg");
}
.blur_div {
    backdrop-filter: blur(14px);
    opacity: 80%;
}
.main_container {
    width: 100%;
    padding: 0px;
    font-size: 12px;
    /*  */
    /* height: 100vh;
  margin: 0px; */
    /*  */
    height: calc(100vh - 40px);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_container_toolbar {
    padding-left: 1px;
    height: 24px;
    position: fixed;
    top: 20px;
    background-color: #1b1a1e;
    width: 100%;
    line-height: 24px;
    display: flex;
}
.main_container_status {
    height: 24px;
    position: fixed;
    bottom: 20px;
    background-color: #1b1a1e;
    width: 100%;
    line-height: 24px;
    padding-left: 4px;
}
.main_container_status > span {
    font-size: 12px;
    background-color: #1b1a1e;
    text-align: center;
}
.main_container_content {
    height: calc(100vh - 40px);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(0, 0, 0);
}
.toolbar_btn_wide {
    margin: 0px;
    padding: 0px;
    width: 60px;
    height: 24px;
}
.toolbar_btn_wide:hover {
    background-color: var(--fm_btn_hover);
}
.toolbar_btn_wide:active {
    background-color: var(--fm_btn_active);
}
.toolbar_btn_wide i {
    font-size: 16px;
}

.toolbar_btn {
    margin: 0px;
    padding: 0px;
    width: 24px;
    height: 24px;
}
.toolbar_btn:hover {
    background-color: var(--fm_btn_hover);
}
.toolbar_btn:active {
    background-color: var(--fm_btn_active);
}
.toolbar_btn i {
    font-size: 16px;
}
.toolbar_btn_tooltip {
    border-radius: 0px !important;
    height: 24px;
    opacity: 95% !important;
    background-color: #2196f3 !important;
    transform: translate(-10px);
    font-size: 12px !important;
    line-height: 24px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px;
    color: aliceblue !important;
}
.divider_vertical {
    height: 24px;
}
.show_div {
    display: none;
}
.hide_div {
    display: block;
}
.toolbar_btn_label {
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    height: 24px;
    width: 24px;
    /* background-color: #dd2c00; */
    cursor: pointer;
}
.toolbar_btn_label:hover {
    background-color: var(--fm_btn_hover);
}
.toolbar_btn_label:active {
    background-color: var(--fm_btn_active);
}
.toolbar_btn_label i {
    font-size: 16px;
}
.busy_contain_no_left {
    width: calc(100% - 56px);
    height: calc(100vh - 40px);
    position: fixed;
    left: 56px;
    top: 20px;
    background-color: #4f0bd7;
    opacity: 90%;
    z-index: 2000;
}
.busy_contain_have_left {
    width: calc(100% - 255px);
    height: calc(100vh - 40px);
    position: fixed;
    left: 255px;
    top: 20px;
    background-color: #5412d7;
    opacity: 90%;
    z-index: 2000;
}
